<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="value1" value="hi"></parameter>
   <parameter name="value2" value="hi india hi"></parameter>
   <parameter name="browser" value="chrome"></parameter>
  
    <classes>
      <class name="Scripts.Assignment_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
